/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.boxed{
    width: 1200px;
    margin: auto;
}

img{
    max-width: 100%;
}



header{
    height: 80px;
    background-color: #0084fd;
}


a{
    text-decoration: none;
}

.inLineList{
    list-style-type: none;
}

.bgWhite{
    background-color: white;
}

.bgPurple{
    background-color: #9792e4;
}

.textAlign{
    text-align: center;
}

.gap2rem{
    gap: 2rem;
}

.paddingCustomerFeed{
    padding: 1rem 2rem 2rem 1rem;
}

.borderRadius50{
    border-radius: 50%;
}

.borderRadius30px{
    border-radius: 30px;
}

.colorPurple{
    color: #9792e4;
}

.colorWhite{
    color: white;
}

/* WIDTH */

.w80{
    width: 80%;
}

.w100{
    width: 100%;
}




/* FLEX */

.flex{
    display: flex;
}

.flexWrap{
    flex-wrap: wrap;
}

.justifySB{
    justify-content: space-between;
}

.justifyCenter{
    justify-content: center;
}

.alignCenter{
    align-items: center;
}

.directionCol{
    flex-direction: column;
}



/* HEADER */

header > nav{
    align-items: center;
    height: 100%;
}

#logoSection{
    height: 870px;
    display: flex;
    justify-content: center;
}

#logoSection > div > div{
    background-color: #b5ddff;
    height: 50px;
    height: calc(100%/2 - 30px);
}

/* MAIN */

/* Logo SECTION */

#scatolaLoghi{
    height: 90%;
    margin-top: 2rem;
    
}

.wDoubleBox{
    width: calc(100%/3 * 2 - 15px);
}

.wBox{
    width: calc(100%/3 - 30px);
}

#appDevelopSection{
    height: 920px;
    background-color: #9792e4;
}

/* APP DEVELOPMENT SECTION */

#appDevelopSection > div{
    height: 90%;
    align-items: flex-end;
}

#appDevelopSection > div > div{
  width: 45%;
}

.bgWhite img{
    width: 60%;
}

/* CUSTOMER FEEDBACK SECTION */

#customerFeedback{
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.customerFeedBox{
    width: 13%;
}

.imgCustomerFeed{
    height: 130px;
    object-fit: cover;
}

#customerFeedback  h2{
    padding: 1rem 0;

}

#customerFeedback p{
    line-height: 2em;
    padding-bottom: 1rem;
}

/* BENEFIT SECTION */

#benefitSection h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.benefitBox{
    padding: 10px;
    background-color: white;
}

#benefitSection h1{
    font-size: 3em;
    padding: 1rem 0 1rem 0;
}