/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boxed{
    width: 1200px;
    margin: auto;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.flexWrap{
    flex-wrap: wrap;
}

.justifySB{
    justify-content: space-between;
}



header{
    height: 80px;
    background-color: #0084fd;
}


a{
    text-decoration: none;
}

.inLineList{
    list-style-type: none;
}

/* HEADER */

header > nav{
    align-items: center;
    height: 100%;
}

#logoSection{
    height: 870px;
    display: flex;
    justify-content: center;
}

#logoSection > div > div{
    background-color: #b5ddff;
    height: 50px;
    height: calc(100%/2 - 30px);
}

/* MAIN */

#scatolaLoghi{
    height: 90%;
    margin-top: 2rem;
    
}

.wDoubleBox{
    width: calc(100%/3 * 2 - 15px);
}

.wBox{
    width: calc(100%/3 - 30px);
}

#appDevelopSection{
    height: 920px;
    background-color: #9792e4;
}